{% extends "main/newbase.html" %}
{% load static %}
{% block content %}
        <!--page-header-->
        <div class="page-header has-image">
            <div class="page-header-content">
                <div class="featured-image"></div>
                <div class="container">
                    <h1>About Us</h1>
                    <nav class="breadcrumbs">
                        <a class="home" href="#"><span>Home</span></a>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span>About Us</span>
                    </nav>
                </div>
            </div>
        </div>
        <!--page-header  end-->

        <!-- about top -->
        <div class="abouttop">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'main/images/Inmarsat-IsatPhone.jpg' %}" alt="" />
                    </div>
                    <div class="col-md-4">
                        <h3>We are leading company in this field, We provide specific solutions for our every customers.</h3>
                        <p>OilReach provides consistent telecommunication services, IT Technologies and networking solutions to the Oil & Gas, Maritime, Government and Commercial Shipping Companies. We operate from Nigeria, the heart of West Africa supporting clients across most African countries</p>
                        <img src="{% static 'main/images/icon/signature-1.png' %}" class="signimage" alt="" width="245" height="67">
                        
                    </div>
                    <div class="col-md-4">
                        <div class="servdtlaccord margbtm40">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading active-panel">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									  Our Mission
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Our Mission is to strengthen our market leadership by leveraging our technology and quality of our staff to become the premier provider of offshore communication solutions. <br>
                                            To establish a reputable service in the region and develop talent within the industry that lead in engineering and innovation in the global market.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									  Our Vision
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Our Coorperate Vision is to become market leaders in Marine, Oil and Gas, Telecommunication Space in West Arica and beyond.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									  Key Values
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Professionalism, Customer Satisfaction, Transparency and Honesty ,Training & Continuous Improvement
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about top  end-->

        <!-- our history -->
        <div class="ourhistory">
            <div class="container">
                <div class="mf-section-title text-left dark large-size ">
                    <h2>WHO WE ARE</h2>
                </div>
                <div class="mf-history ">
                    <div class="history-list historyslide">
                        <div class="history-group">
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">OilReach Limited</h3>
                                    <div class="history-desc">
                                        <p> is committed to giving our clients the very best Communication Services on every vessel across West Africa.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">OilReach limited </h3>
                                    <div class="history-desc">
                                        <p>is dedicated to giving the best in terms of safety and security on vessels through various tracking process.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-group">
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">Oilreach</h3>
                                    <div class="history-desc">
                                        <p> is committed to provide quality and efficient services of international standard. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">We are a major</h3>
                                    <div class="history-desc">
                                        <p> distributor to companies such as Polestar Global,  Inmarsat, Globalstar, Comsat, etc and maintain strong relationship with them.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-group">
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">We offer </h3>
                                    <div class="history-desc">
                                        <p>Wyou all possibilities of using satellites to send data and voice, as well as appropriate data encryption.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="history">
                                <div class="date">about us</div>
                                <div class="history-content">
                                    <h3 class="title">Our products and services </h3>
                                    <div class="history-desc">
                                        <p>are also being used by those working under challenging conditions, where immediate response is crucial, like sea and areas affected by natural disasters, as well as extreme tourism lovers, where traditional communication solutions are not enough.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our history end -->

        

        <!-- Action strip -->
        <div class="action-strip-1">
            <div class="container">
                <div class="row">
                    <div class="loc-lg-10 col-md-9 col-sm-12">
                        <h2>Innovative Products and Service for Construction Projects and Automative Service.</h2>
                    </div>
                    <div class="loc-lg-2 col-md-3 col-sm-12">
                        <div class="mf-button align-right style-1">
                            <a class="button mf-btn" href="#">Our Latest Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Action strip end -->

        <!-- detail sec -->
        <div class="service-dtail">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="dtlbgimg">
                            <img src="images/services/8-big.jpg" alt="" />
                        </div>

                        <div class="mf-section-title text-left dark medium-size bold margbtm40">
                            <h2>Why Choose Us</h2>
                        </div>
                        <p>Oilreach works with Pole Star in Nigeria to offer a complete LRIT Conformance testing and certification services and is authorized to issue Conformance Test Reports on behalf of most Flags. Pole Star is the world leader in LRIT testing and, to date, we have worked with Polestar to complete several tests on Vessels in Nigeria and across the continent of Africa. Pole Star is an Authorised Testing ASP for over 90 Flags and provides operators with a convenient, secure and easy-to-use web-based testing platform, allowing them to initiate a test and review its progress at any time.</p>
                       
                        


                        <div class="mf-section-title text-left dark medium-size margbtm40">
                            <h2>We Are Experts In</h2>
                        </div>
                        <div class="row dtlrnd margbtm50">
                            
                            <div class="col-lg-12 col-md-12">
                                
                                <ul class="mf-list">
                                    <li>Managed Network services.</li>
                                    <li>GSM onboard vessels and Rigs.</li>
                                    
                                    <li>Integrated networking solution</li>
                                    <li>TVRO provision on Oil Rigs, Platforms, FPSO, Vessels.</li>
                                    <li>Voice, data & video Communications provision on Oil Rigs/Platforms/Vessels/FPSO</li>
                                    <li>Remote locations connectivity to HQ using VSAT, microwave, or other feasible option.</li>
                                    
                                    <li>Fleet Management using Polestar Platform & Tracking Devices Long Rang Identification and tracking (LRIT) conformance testing and report.</li>
                                    <li>Ship Security Alert System (SSAS) or Alert Advanced Hardware Integration.</li>
                                    <li>Mobile Satellite Services (MSS) Provision using Inmarsat BGAN network Inmarsat Fleetbroadband provision for voice and data onboard vessels and Rigs.</li>
                                    
                                </ul>
                            </div>

                        </div>
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class=""><a href="#tab1default" data-toggle="tab" aria-expanded="false">Professionalism</a></li>
                                    <li class="active"><a href="#tab2default" data-toggle="tab" aria-expanded="true">Intelligence</a></li>
                                    <li class=""><a href="#tab3default" data-toggle="tab" aria-expanded="false">Specializations</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1default">
                                        <p>Our most important resource is the skill of our staff. The company is managed by Telecommunication & Marine Electronics professionals and provides its services using a pool of highly trained and very talented engineers. Our engineers have backgrounds in ICT systems, electronics, telecommunications and control systems amongst others</p>
                                    </div>
                                    <div class="tab-pane fade active in" id="tab2default">
                                        <p>Our products and services are also being used by those working under challenging conditions, where immediate response is crucial, like sea and areas affected by natural disasters, as well as extreme tourism lovers, where traditional communication solutions are not enough.</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab3default">
                                        <p>Oilreach specializes in Marine Electronic Systems and carry out design, supply and installation from a simple depth sounder up to a fully computerised Navigation/Communication Package.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- sidebar -->
                    <aside class="widgets-area primary-sidebar service-sidebar ol-sm-12 col-md-4">
                        <div class="induscity-widget">
                            <div class="widget services-menu-widget">
                                <h4 class="widget-title">We Provide The Following</h4>
                                <ul class="menu service-menu">
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Inmarsat FleetBroadband</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>GMDSS Terminal Activation and Maintenance</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>LRIT Testing and Certification</a></li>
                                    <li><a href="#"><i class="fa fa-long-arrow-right"></i>Ship Security Alert System(SSAS)</a></li>
                                    
                                </ul>
                            </div>
                            <div class="widget_text widget">
                                <h4 class="widget-title">Service Brochures</h4>
                                <div class="textwidget">
                                    <div class="download">
                                        <div class="item-download">
                                            <a href="{% static 'main/images/bg/Oilreach Flyer.pdf' %}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download Flyer.PDF</a>
                                        </div>
                                        <div class="item-download">
                                            <a href="#" target="_blank"><i class="fa fa-file-word-o" aria-hidden="true"></i>Download Brochure.DOC</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget_text widget">
                                <h4 class="widget-title"> Contact Our Team</h4>
                                <div class="textwidget">
                                    <div class="mf-team-contact">
                                        <p>Please feel free to contact us. We will get back to you with 1-2 business days. Or just call us now.</p>
                                        <div class="mf-contact phone">
                                            <i class="flaticon-tool"></i>
                                            <span class="semi-bold">Call Us:</span>  <a href="tel:+234 790 159 3569">+234 790 159 3569</a> &amp; <a href="tel:+44 7412 506021">+44 7412 506021</a>
                                        </div>
                                        <div class="mf-contact email">
                                            <i class="flaticon-note"></i>
                                            <span class="semi-bold">Mail Us:</span> <a href="mailto:info@oilreach.com">info@oilreach.com</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="widget mf-button-widget">
                                <a href="#" class="mf-btn mf-btn-widget mf-btn-fullwidth">Request a Quote</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <!-- our services end -->

{% endblock %}