{% extends "main/newbase.html" %}
{% load static %}
{% block content %}

        <!--page-header-->
        <div class="page-header has-image">
            <div class="page-header-content">
                <div class="featured-image"></div>
                <div class="container">
                    <h1>Products</h1>
                    <nav class="breadcrumbs">
                        <a class="home" href="/"><span>Home</span></a>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span>Products</span>
                    </nav>
                </div>
            </div>
        </div>
        <!--page-header  end-->

        
        <!-- detail sec -->
        <div class="service-dtail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="dtlbgimg">
                            <img src="https://www.marsat.ru/files/pictures/sailor_150.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">

                        <div class="mf-section-title text-left dark medium-size bold margbtm40">
                            <h2>Inmarsat FBB</h2>
                        </div>
                        <p>FleetBroadband provides cost-effective voice and data through a compact antenna, delivered globally via the I-4 satellite and ground network, which maintains over 99.9 per cent network availability.

                        
                        The reliability of the L-band service means it can provide unlimited back-up to our high-speed Fleet Xpress service, ensuring seamless global mobility.

                        Thousands of vessels of all sizes and in all maritime sectors trust in FleetBroadband for operational communications such as email, phone and applications that help them do everything from plotting the most fuel-efficient route to diagnosing mechanical faults remotely by video link.

                        It boosts morale onboard by enabling crew to stay in touch with family and friends, use social media, and watch news and entertainment.</p>
                        <div class="mf-section-title text-left dark medium-size margbtm40">
                            <h3>Key Features</h3>
                        </div>
                        <p>Use these core principles along with tools like computer-aided design, product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery.</p>

                        <div class="row whychoseopt">
                            <div class="col-lg-6 col-md-12">
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-pinwheel"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Clean Unpolluted" target=" _blank">Standard IP data</a></h2>
                                        <div class="desc">Always-on data service for applications such as email and internet access, real-time electronic charts and weather reporting.</div>
                                    </div>
                                </div>
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-road"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Easy and Affortable" target=" _blank">Streaming IP</a></h2>
                                        <div class="desc">Guaranteed rates for live applications like video conferencing and database synchronisation (FB250 and FB500 only).</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-music"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Lasting &amp; Long Term" target=" _blank">Satellite voice</a></h2>
                                        <div class="desc">Access up to nine telephone lines from a single terminal with FleetBroadband Multi-voice (three lines on FB150).</div>
                                    </div>
                                </div>
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-sprout"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Generated From Nature" target=" _blank">Safety</a></h2>
                                        <div class="desc">505 Emergency Calling puts vessels directly in contact with a Maritime Rescue Co-ordination centre (MRCC) free of charge for distress calls.</div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-12">
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-music"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Lasting &amp; Long Term" target=" _blank">SMS</a></h2>
                                        <div class="desc">Send and receive SMS text messages to and from other FleetBroadband terminals and land-based cellular networks through your PC or smart device.</div>
                                    </div>
                                </div>
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-sprout"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Generated From Nature" target=" _blank">Fax</a></h2>
                                        <div class="desc">Circuit-switched data connection for legacy applications such as Group 3 and Group 4 fax (Group 3 only for FB150).</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-music"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Lasting &amp; Long Term" target=" _blank">Enhanced voice services </a></h2>
                                        <div class="desc">Voicemail and other enhanced call management options are available, including caller identification, caller barring and call forwarding.</div>
                                    </div>
                                </div>
                                <div class="mf-icon-box icon_type-flaticon icon_style-has-background-color icon_position-left icon_size-large style-1 box-dark ">
                                    <span class="mf-icon"><i class="flaticon-sprout"></i></span>
                                    <div class="box-wrapper">
                                        <h2 class="box-title"><a href="#" title="Generated From Nature" target=" _blank">GSM Calls</a></h2>
                                        <div class="desc">GSM over FB250 and FB500 enables users to make and receive calls and send and receive SMS texts using the pre-paid SIM in their own mobile phone.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                <hr>
                
                        
                        <div class="row dtlrnd margbtm50">
                            <div class="col-lg-4 col-md-12">
                                <img src="https://www.cobhamsatcom.com/media/1554102/inmarsat-fleetbroadband.jpg" alt="" />
                                <h2 class="text-center" style="text-center">Sailor 250</h2>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p>Specifications technical.</p>
                                <ul class="mf-list">
                                    <li>High-speed data up to 284kbps</li>
                                    <li>IP streaming of speeds up to 128kpbs.</li>
                                    <li>ISDN 64k and 3.1kHz Audio</li>
                                    <li>Durable antenna</li>
                                    <li>Unique IP Handset allows management of the FB 250</li>
                                    <li>Multiple interfaces including Ethernet(PoE), RJ11, USB, L-Band and I/O</li>
                                    <li>A web interface for ease of use</li>
                                </ul>
                            </div>


                        </div>
                        <hr>
                        <div class="row dtlrnd margbtm50">
                            <div class="col-lg-4 col-md-12">
                                <img src="https://www.alewijnse.com/sites/default/files/styles/hero_desktop/public/2021-07/DSAS-1800x1029px.jpg?itok=-SvCMAWl" alt="" />
                                <h2 class="text-center" style="text-center">DSAS MK2</h2>
                            </div>
                           
                            <div class="col-lg-8 col-md-12">
                                <p>A fully compliant, premium Ship Security Alert System (SSAS) designed for the user who requires a SSAS they can rely on when it is needed most.</p>

                                <p>Unlike many Ship Security Alert Systems (SSAS) that have been designed to conform to only the minimum standards, the Type Approved and flag accepted DSAS Mk2 is a premium, standalone SSAS designed to exceed SOLAS XI-2/6 regulations.</p>

                                <p>The rugged and reliable system features a tough polycarbonate enclosure and marine grade stainless steel casing, two alert buttons with hinged lids to protect against inadvertent activation, 5-7 day battery backup, tamper warnings, battery protection technology and “traffic light” diagnostic LEDs.</p>

                                <p>Operating on the Inmarsat IsatData Pro network, DSAS Mk2 comes with hourly reporting as standard and is easy to install and maintain. For your convenience, DSAS Mk2 is backwards compatible with DSAS Mk1 installations.</p>
                            </div>
                             

                        </div>
                        <hr>
                        <div class="row dtlrnd margbtm50">
                            <div class="col-lg-4 col-md-12">
                                <img src="https://cdn.satmodo.com/wp-content/uploads/2016/11/SAILOR-500-kit-site.png" alt="" />
                                <h2 class="text-center">Sailor 500 Fleet Broadband</h2>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <p>The SAILOR 500 FleetBroadband is designed for vessels and plat-forms with demanding require-ments for connectivity. </p> <p>It meets the critical needs for voice and data communication of maritime and offshore professional’s globally but despite its power, is a compact, lightweight solution. It provides extensive functionality including full access to band-width-hungry IP applications, broadband internet/intranet, e-mail, secure VPN and nine simultaneous voice lines.</p>
                                
                            </div>


                        </div>
                        <hr>
                        <div class="row dtlrnd margbtm50">
                            <div class="col-lg-4 col-md-12">
                                <img src="https://i0.wp.com/xtremetracks.com/wp-content/uploads/2020/06/smartcbattery.jpg?fit=606%2C312&ssl=1" alt="" />
                                <h2 class="text-center">Smart One C</h2>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <p>SMART ONE C is a satellite tracking device manufactured by Global star and used for tracking on different tracking platform.</p>

                                <p>Polestar is a more dedicated and reliable tracking platform and support bigger clients all over the world, that’s why they are highly recommended. Polestar allows you to get tracking notification on the where about of your assets and personnel</p>

                                <p>The SmartOne C can be line-powered, or in the absence or interruption of external power, will automatically switch to battery back-up.</p>
                            </div>
                            

                        </div>
                        <hr>
                        <div class="row dtlrnd margbtm50">
                            <div class="col-lg-4 col-md-12">
                                <img src="http://www.gps4africa.co.za/img/cms/Spot-Gen-3-3.png" alt="" />
                                <h2 class="text-center">Spot Gen 3</h2>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <p>Spot Gen3 is a satellite tracking device manufactured by Global star and used for tracking on different tracking platform including mobile App.</p>

                                <p>The latest generation of award-winning SPOT devices, SPOT Gen3 gives you a critical, life-saving line of communication using 100% satellite technology.</p>
                                
                            </div>


                        </div>
                        <hr>
                        
                    </div>

                    
                </div>
            </div>
        </div>
        <!-- our services end -->

        

{% endblock %}